@font-face{
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face{
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.ttf');
}

body{
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Oswald';
}

.navbar {
    box-shadow: 0px 3px 6px #0202024f;
    z-index: 5;
    width: 100%;
}

.navbar-brand img{
    height: 80px;
}

.navbar-light .navbar-nav .nav-link{
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.3s all;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #062161;
}

@media(max-width: 540px){
    .navbar-brand img{
        height: 64px;
    }
}

.carousel.slide,
.carousel-inner,
.carousel-item{
    height: 532px;
}

.carousel-jumbotron{
    background: linear-gradient(45deg, #062161, #cddc396b);
    color: #fff;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    text-align: center;
}

.carousel-text{
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    height: 100%;
}

.carousel-text h1{
    text-shadow: 5px 0px #f9a825;
    font-size: 5.5em;
    margin: 20px auto;
}
.carousel-text p {
    width: 500px;
    margin: 0px auto;
}

.carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 6px;
    margin-left: 6px;
}
@media(max-width: 540px){
    .carousel-text{
        padding: 0 60px;
    }
}
@media(max-width: 768px){
    .carousel-text p{
        width: auto;
    }
    .carousel-text h1{
        font-size: 3.5em;
    }
    .carousel-item img{
        height: 100%;
        width: auto!important;
    }
}

.section-header{
    padding: 20px 0px;
}

.divider-section{
    background: #F9A825;
    height: 6px;
    margin: 20px 0px;
    width: 100px;
}

.section-index h2{
    text-shadow: 2px 2px 0px #f9a825;
    font-size: 3rem;
    color: #062161;
}

.section-index p{
    line-height: 1.5;
    font-size: 1.15rem;
    width: 650px;
}

#section-about,
#section-dokumentasi{
    padding: 80px  0px;
}

#section-dokumentasi{
    text-align: center;
}

#section-dokumentasi p{
    margin: auto;
}

#section-dokumentasi .divider-section{
    margin: 20px auto;
}

@media(max-width: 540px){
    .section-index{
        padding: 40px 20px!important;
    }
    .section-index p{
        width: auto;
    }
    #section-dokumentasi{
        padding: 0;
    }
}

@media(max-width: 768px){
    .section-index p{
        width: auto;
    }
    #section-about,
    #section-dokumentasi{
        padding: 40px 20px!important;
    }
}

.card-gallery{
    background: #333;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    display: block;
    height: 200px;
    margin: 10px auto;
    width: 300px;
    position: relative;
    overflow: hidden;
}

.card-gallery img{
    height: auto;
    width: 100%;
    transition: 0.3s all;
}

.card-gallery:hover img{
    transform: scale(1.25);
}



@media(max-width: 350px){
    .card-gallery{
        
        height: 150px;
        width: auto;
    }
    .card-gallery img{
        transform: scale(1.2);
        height: 100%;
        width: auto;
    }
}

/* Timeline lomba */
.list-timeline{
    font-size: 11pt;
    margin: 15px 0px;
}

.num-timeline{
    background: orangered;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 1.5em;
}
.wrap-content-timeline{
    display: inline-block;
}
.date-timeline{
    border-right: 1px solid #ddd;
    height: 60px;
    padding: 0px 10px;
    display: inline-block;
    vertical-align: middle;
}
.content-timeline{
    padding: 0 10px;
    display: inline-block;
    vertical-align: middle;
    height: 60px;
}
@media(max-width: 376px){
    .wrap-content-timeline{
        margin: 10px 0px;
    }
}
@media(max-width: 420px){
    .date-timeline,
    .content-timeline{
        height: 40px;
        padding: 0 5px;
    }
    .num-timeline{
        font-size: 1.15em;
        height: 40px;
        line-height: 40px;
        width: 40px;
    }
}

/* Ketentuan lomba start */
#ketentuan{
    background: url('../img/banner-1.jpg') no-repeat;
    background-size: 100%;
    color: #fff;
    height: 200px;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.filter-black{
    background: rgba(0, 0, 0, 0.55);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
#ketentuan .section-index{
    padding: 53px 0px;
    position: relative;
    top: 0;
    z-index: 3;
}
/* Ketentuan lomba stop */

/* Kontak start */
#kontak{
    height: 400px;
}
#kontak iframe{
    height: 300px;
    width: 100%;
}
#kontak p{
    width: auto;
}
#kontak ul{
    list-style: none;
    margin: 0;
    padding-inline-start: 0;
}
#kontak ul li{
    margin: 10px 0px;
}
.btn-contact{
    background: #2196F3;
    border-radius: 4px;
    color: #fff;
    display: block;
    width: 280px;
    height: 35px;
    position: relative;
    line-height: 35px;
    padding-left: 55px;
    overflow: hidden;
    transition: 0.3s all;
}
.btn-contact:hover{
    background: #1565C0;
    text-decoration: none;
    color: #ddd;
}
.btn-contact i{
    font-size: 1.3em;
    position: absolute;
    top: 0;
    left: 0;
    background: #1565C0;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
}

@media(max-width: 768px){
    #kontak{
        height: auto;
    }
    #map-wrapper{
        margin: 20px 0px;
    }
}

@media(max-width: 992px){
    #kontak{
        height: auto;
    }
}
/* Kontak stop */

/* Footer start */
footer{
    border-top: 4px solid #888;
    background: #ffffff;
    color: #1f1f1f;
    padding: 40px 20px;
}

#footer-media ul{
    padding-inline-start: 0;
}
#footer-media ul li{
    height: 32px;
    list-style: none;
    margin: 10px 0px;
}
#footer-media ul li a i{
    background: #444;
    border-radius: 50%;
    color: #fff;
    height: 32px;
    line-height: 32px;
    width: 32px;
    margin: 0 10px;
    text-align: center;
}
#footer-media ul li a{
    font-size: 12pt;
    transition: 0.2s all;
}
#footer-media ul li a:hover{
    color: #062161;
    text-decoration: none;
}
#copy{
    color: #8c8c8c;
    font-size: 10pt;
    padding: 10px 0px;
}
/* Footer stop */