@font-face{
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face{
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.ttf');
}

body{
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Oswald';
}

.navbar {
    background: #fff;
    padding: .5rem 5rem;
    box-shadow: 0px 3px 6px #0202024f;
    z-index: 2;
}

.navbar-brand img{
    height: 80px;
}

.carousel.slide,
.carousel-inner,
.carousel-item{
    height: 532px;
}

.carousel-text{
    background: linear-gradient(45deg, #062161, #cddc396b);
    color: #fff;
    display: block;
    position: absolute;
    padding: 12% 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    text-align: center;
}

.carousel-text h1{
    text-shadow: 0 3px 6px #f9a825;
    font-size: 3.5rem!important;
    margin: 20px auto;
}
.carousel-text p {
    width: 500px;
    margin: 0px auto;
}

.carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 6px;
    margin-left: 6px;
}

.section-header{
    padding: 20px 0px;
}

.divider-section{
    background: #F9A825;
    height: 6px;
    margin: 20px 0px;
    width: 100px;
}

.section-index h2{
    font-size: 3rem;
    color: #062161;
}

.section-index p{
    line-height: 1.5;
    font-size: 1.15rem;
    width: 650px;
}

#section-about,
#section-dokumentasi{
    padding: 80px  0px;
}

#section-dokumentasi{
    background: #eaeaea;
    text-align: center;
}

#section-dokumentasi p{
    margin: auto;
}

#section-dokumentasi .divider-section{
    margin: 20px auto;
}

.card-gallery{
    background: #333;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
    display: block;
    height: 200px;
    margin: 10px auto;
    width: 300px;
}

.card-gallery img{
    height: auto;
    width: 100%;
}
