@font-face{
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face{
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.ttf');
}

body{
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Oswald', sans-serif;
}

/* Overwrite bootstrap component start */
.btn.btn-primary{
    background-color: #F9A825;
    border-color: #F9A825;
    border-radius: 0;
    transition: 0.3s all;
}
.btn.btn-primary:hover{
    background-color: #F57C00;
    border-color: #F57C00;
}
/* Overwrite bootstrap component stop */

.navbar {
    box-shadow: 0px 3px 6px #0202024f;
    z-index: 5;
    width: 100%;
}

.navbar-brand img{
    height: 80px;
}

.navbar-light .navbar-nav .nav-link{
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    transition: 0.3s all;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #062161;
}

@media(max-width: 540px){
    .navbar-brand img{
        height: 64px;
    }
}

.carousel.slide,
.carousel-inner,
.carousel-item{
    height: 532px;
}

.carousel-jumbotron{
    background: linear-gradient(45deg, #062161, #cddc396b);
    color: #fff;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.carousel-text{
  text-align: center;
}

.carousel-text h1{
    text-shadow: 5px 0px #f9a825;
    font-size: 5.5em;
    margin: 0px auto;
    transition: 0.3s all;
}
.carousel-text p {
    width: 500px;
    font-size: 1.12em;
    margin: 10px auto;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 6px;
    margin-left: 6px;
}

.carousel-control-next, .carousel-control-prev{
    opacity: 1;
}

.carousel-control-prev i,
.carousel-control-next i{
    background: #cddc39;
    color: #383d41;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 2px #0000001a;
    line-height: 60px;
    height: 60px;
    width: 60px;
    transition: 0.3s all;
}

@media(max-width: 540px){
    .carousel-text{
        padding: 0 60px;
    }
    .carousel-control-prev i,
    .carousel-control-next i{
        line-height: 30px;
        height: 36px;
        width: 36px;
    }
}
@media(max-width: 768px){
    .carousel-text p{
        width: auto;
    }
    .carousel-text h1{
        font-size: 3.5em;
    }
    .carousel-item img{
        height: 100%;
        width: auto!important;
    }
}

.section-header{
    padding: 20px 0px;
}

.divider-section{
    background: #F9A825;
    height: 6px;
    margin: 20px 0px;
    width: 100px;
}

.section-index{
    padding: 40px 20px;
}

.section-index h2{
    text-shadow: 3px 0px 0px #ffaf2e;
    font-size: 3rem;
    color: #062161;
    letter-spacing: 2px;
}

.section-index p{
    line-height: 1.5;
    width: 650px;
}

#section-dokumentasi{
    background: #ececec;
    text-align: center;
}

#section-dokumentasi p{
    margin: auto;
}

#section-dokumentasi .divider-section{
    margin: 20px auto;
}

@media(max-width: 540px){
    .section-index p{
        width: auto;
    }
}

@media(max-width: 768px){
    .section-index p{
        width: auto;
    }
}

.card-gallery{
    background: #333;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    display: block;
    height: 200px;
    margin: 10px auto;
    width: 300px;
    position: relative;
    overflow: hidden;
}

.card-gallery img{
    height: auto;
    width: 100%;
    transition: 0.3s all;
}

.card-gallery:hover img{
    transform: scale(1.25);
}



@media(max-width: 350px){
    .card-gallery{
        
        height: 150px;
        width: auto;
    }
    .card-gallery img{
        transform: scale(1.2);
        height: 100%;
        width: auto;
    }
}

/* Timeline lomba */
.list-timeline{
    font-size: 11pt;
    margin: 15px 0px;
}

.num-timeline{
    background: orangered;
    border-radius: 50%;
    color: #fff;
    display: block;
    height: 50px;
    width: 50px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    font-size: 1.5em;
}
.wrap-content-timeline{
    text-align: center;
    display: block;
    padding: 5px 0px;
}
.date-timeline{
    padding: 0px 10px;
    display: block;
    vertical-align: middle;
    font-weight: bold;
}
.content-timeline{
    padding: 0 10px;
    display: block;
    vertical-align: middle;
}
/* @media(max-width: 376px){
    .wrap-content-timeline{
        padding: 13px 0px;
    }
}
@media(max-width: 420px){
    .date-timeline,
    .content-timeline{
        display: block;
        text-align: center;
        height: 40px;
        padding: 0 5px;
    }
    .wrap-content-timeline{
        margin: 0 auto;
        display: block;
    }
    .num-timeline{
        margin: 0 auto;
        display: block;
        font-size: 1.15em;
        height: 40px;
        line-height: 40px;
        width: 40px;
    }
} */

/* Ketentuan lomba start */
#ketentuan{
    background: url('../img/banner-1.jpg') no-repeat;
    background-size: 100%;
    color: #fff;
    height: 200px;
    text-align: center;
    overflow: hidden;
    position: relative;
}
#ketentuan h1{
    text-shadow: 3px 0px #f9a825;
    letter-spacing: 3px;
    font-size: 3em;
}
.filter-black{
    background: linear-gradient(45deg, #062161, #cddc396b);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
#ketentuan .section-index{
    padding: 53px 0px;
    position: relative;
    top: 0;
    z-index: 3;
}
/* Ketentuan lomba stop */

@media(max-width: 387px){
    #ketentuan{
        height: auto;
    }
}

/* Kontak start */
#kontak{
    height: 400px;
}
#kontak iframe{
    height: 300px;
    width: 100%;
}
#kontak p{
    width: auto;
}
#kontak ul{
    list-style: none;
    margin: 0;
    padding-inline-start: 0;
}
#kontak ul li{
    margin: 10px 0px;
}
.btn-contact{
    background: #2196F3;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    height: 35px;
    position: relative;
    line-height: 35px;
    padding: 0px 20px 0px 55px;
    overflow: hidden;
    transition: 0.3s all;
}
.btn-contact:hover{
    background: #1565C0;
    text-decoration: none;
    color: #ddd;
}
.btn-contact i{
    font-size: 1.3em;
    position: absolute;
    top: 0;
    left: 0;
    background: #1565C0;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
}

@media(max-width: 768px){
    #kontak{
        height: auto;
    }
    #map-wrapper{
        margin: 20px 0px;
    }
}

@media(max-width: 992px){
    #kontak{
        height: auto;
    }
}
/* Kontak stop */

/* Footer start */
footer{
    border-top: 4px solid #888;
    background: #ffffff;
    color: #1f1f1f;
    padding: 40px 20px;
}

#footer-media ul{
    padding-inline-start: 0;
}
#footer-media ul li{
    height: 32px;
    list-style: none;
    margin: 10px 0px;
}
#footer-media ul li a i{
    background: #444;
    border-radius: 50%;
    color: #fff;
    height: 32px;
    line-height: 32px;
    width: 32px;
    margin: 0 10px;
    text-align: center;
}
#footer-media ul li a{
    font-size: 12pt;
    transition: 0.2s all;
}
#footer-media ul li a:hover{
    color: #062161;
    text-decoration: none;
}
#copy{
    color: #8c8c8c;
    font-size: 10pt;
    padding: 10px 0px;
}
/* Footer stop */

/* Button back to top */
#button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }